header {
    width: 100%;
    height: 200px;
    background: #CC0000;
}

.container {
    width: 80%;
    height: 200px;
    margin: 10px auto;
    padding: 0 auto;
}

.container div {
    display: inline;
}

.redes {
    background-color: #2851A3;
    width: 50px;
    margin-right: 10px;
    border: 1px solid #fff;
}

.text-white {
    color: #fff;
}

.lista li {
    list-style-type: none;
    display: inline;
    padding-right: 5px;
}